@charset "UTF-8";
@CHARSET "ISO-8859-1";
body {
  background: #eee;
  padding-top: 100px;
}

#about h1 {
  font-size: 40px;
  border: solid 3px red;
  width: 100%;
}
#about h1 div {
  font-size: 20px;
}
#about .section {
  padding: 0 3em;
}
#about #section1 div {
  margin-bottom: 2em;
}
#about h2 {
  font-size: 32px;
}
#about p {
  font-size: 16px;
  text-align: left;
}
#about .skill {
  text-align: left;
  margin-top: 2em;
}
#about .skill li {
  list-style: circle;
  margin-left: 25px;
}
#about .biography {
  text-align: left;
}
#about .biography h3 {
  text-align: center;
  font-weight: bold;
  margin: 2em;
}
#about .biography div {
  padding: 0.2em;
}
#about .bioTbl {
  display: flex;
  font-size: 14px;
}
#about .bioTbl div:nth-child(1) {
  width: 240px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
#about .bioTbl div:nth-child(2) {
  width: 200px;
}
#about .bioTbl div:nth-child(3) {
  flex: 2;
  text-align: right;
}
#about .bioTbl a {
  color: #333;
  text-decoration: underline;
}
#about .bioTbl + div {
  border-top: dashed 1px #ccc;
  border-bottom: solid 3px #ccc;
  padding: 0.4em;
  font-size: 12px;
}
#about .tool ul {
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#about .tool ul img {
  width: 80px;
  margin: 1em;
}

.side {
  position: fixed;
  background: #333;
  color: #fff;
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.side h1 {
  color: #262626;
  font-size: 28px;
  padding: 4em;
  text-align: center;
  text-shadow: -1px -1px #000, 1px 1px #444;
}
.side h1 div {
  font-size: 16px;
  margin-top: 1em;
  font-weight: normal;
}
.side li {
  padding: 0.5em 1em;
}
.side li a {
  color: #fff;
}
.side li {
  position: relative;
}
.side li::before {
  content: "";
  top: 0;
  left: -40px;
  width: 5px;
  height: 5px;
  border-left: solid 3px #333;
  margin-right: 0.7em;
}
.side li.selected {
  position: relative;
}
.side li.selected::before {
  content: "";
  top: 0;
  left: -40px;
  width: 5px;
  height: 5px;
  border-left: solid 3px #fff;
  margin-right: 0.7em;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background: rgba 255, 255, 255, 0.4;
}

.logo {
  width: 120px;
  border: solid;
  text-align: center;
}

.header_menu {
  display: flex;
}
.header_menu a {
  display: block;
  padding: 0.5em;
}

h2 {
  font-size: 48px;
}
h2 .company {
  font-size: 18px;
}

.title {
  margin-top: 1em;
}
.title p {
  margin-bottom: 0.5em;
}
.title h1 {
  margin-top: -0.3em;
}

.intro p {
  font-size: 1.2em;
}

.company {
  font-size: 14px;
  padding: 0.2em;
  line-height: 1em;
}

.just {
  color: #f00;
  border: solid 1px #f00;
}

.fdl {
  color: #00f;
  border: solid 1px #00f;
}

.wrap {
  padding: 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: center;
}

.imgsContainer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-origin: top center;
}
.imgsContainer img {
  width: 100%;
  height: auto;
}

.textContainer {
  text-align: left;
}
.textContainer h2 {
  line-height: 1em;
  margin-bottom: 0.5em;
}
.textContainer p {
  font-size: 12px;
}
.textContainer dl div {
  display: flex;
  margin: 0.3em 0;
}
.textContainer dl div dt {
  font-size: 12px;
  flex: 1;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  margin-right: 1em;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.1);
  padding: 0.3em;
}
.textContainer dl div dd {
  font-size: 13px;
  flex: 4;
  padding: 0.1em;
}
.textContainer a {
  color: #333;
  text-decoration: underline;
}
.textContainer p:first-child {
  font-weight: bold;
}
.textContainer p:not(:first-child) {
  margin-left: 1em;
}

.tab_wrap {
  width: 100%;
  margin: 0px auto;
}

input[type="radio"] {
  display: none;
}

.tab_area {
  font-size: 0;
  margin: 0 40px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.tab_area label {
  width: 150px;
  margin: 0 5px;
  display: inline-block;
  padding: 6px 0;
  color: #333;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  transition: ease 0.2s opacity;
}

.tab_area label:hover {
  opacity: 0.5;
}

.tab_area label:active {
  background: #fff;
  color: #000;
}

.tab_panel.active {
  display: block;
  animation: tabAnim ease 1s forwards;
  -ms-animation: tabAnim ease 1s forwards;
}

.panel_area {
  background: auto;
  max-height: 430px;
  overflow: hidden;
}

.tab_panel {
  width: 100%;
  padding: 20px 0 0;
  display: none;
}

.tab_panel p {
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
}

#tab1_1:checked ~ .tab_area .tab1_1_label,
#tab1:checked ~ .tab_area .tab1_label {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

#tab1_1:checked ~ .panel_area #panel1_1,
#tab1:checked ~ .panel_area #panel1 {
  display: block;
}

#tab1_2:checked ~ .tab_area .tab1_2_label,
#tab2:checked ~ .tab_area .tab2_label {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

#tab1_2:checked ~ .panel_area #panel1_2,
#tab2:checked ~ .panel_area #panel2 {
  display: block;
}

#tab1_3:checked ~ .tab_area .tab1_3_label,
#tab3:checked ~ .tab_area .tab3_label {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

#tab1_3:checked ~ .panel_area #panel1_3,
#tab3:checked ~ .panel_area #panel3 {
  display: block;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
.sprint img:nth-child(1) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.sprint img {
  -webkit-animation: screeningItem 0.4s ease-out both;
  animation: screeningItem 0.4s ease-out both;
}

.status_new {
  color: #c33;
  margin-right: 0.5em;
  padding: 0.3em;
  border-radius: 5px;
}

.status_chg {
  color: #06F;
  margin-right: 0.5em;
  padding: 0.3em;
  border-radius: 5px;
}

/* 個別指定 */
.sprint h1 {
  font-size: 48px;
}
.sprint .imgsContainer {
  flex: 5;
}
.sprint .textContainer {
  flex: 2;
}
.sprint .textContainer dd {
  flex: 3;
}
.sprint .product_text {
  margin-bottom: 1em;
}
.sprint .product_text p {
  text-align: left;
}
.sprint .sprint_service {
  position: relative;
  width: 90%;
}
.sprint .sprint_service::before {
  content: 'Sprintサービス';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -3px;
  left: -36%;
}
.sprint .sprint_interviewer {
  z-index: 2;
  position: absolute;
  top: 210px;
  left: 20px;
  width: 8%;
}
.sprint .sprint_interviewer::before {
  content: 'Interviewer';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: 92px;
  left: 0;
}
.sprint .sprint_monitor {
  z-index: 2;
  position: absolute;
  top: 140px;
  left: 590px;
  width: 8%;
}
.sprint .sprint_monitor::before {
  content: 'Monitor';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: 0;
  left: 0;
}
.sprint .sprint_web_1 {
  position: relative;
  width: 40%;
  margin-right: 1em;
}
.sprint .sprint_web_2 {
  position: relative;
  width: 16%;
}
.sprint .sprint_movie_1 {
  position: relative;
  width: 16%;
  margin-right: 0.5em;
  margin-top: 0.3em;
}
.sprint .sprint_movie_1::before {
  content: '動画コンテ';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -2px;
  left: -20%;
}
.sprint .sprint_movie_2 {
  position: relative;
  width: 16%;
  margin-top: 0.3em;
}
.sprint .sprint_movie_2::before {
  content: '';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -1px;
  left: -16%;
}

.jms h1 {
  font-size: 48px;
  margin-bottom: 0.5em;
}
.jms .imgsContainer {
  flex: 2;
}
.jms .textContainer {
  flex: 1;
}
.jms .textContainer dl {
  padding-left: 60px;
}
.jms .textContainer dd {
  flex: 3;
}
.jms .product_text p {
  text-align: center;
}
.jms .jms_pc {
  z-index: 1;
  width: 75%;
}
.jms .jms_sp {
  position: absolute;
  top: 140px;
  left: 500px;
  z-index: 2;
  width: 14%;
}

.product_text {
  margin: auto 4em;
  margin-bottom: 1em;
}
.product_text p {
  font-size: 13px;
  line-height: 1.3em;
  color: #555;
  text-align: left;
}

.pitajob h1 {
  font-size: 48px;
}
.pitajob .wrap {
  padding-top: 1em;
}
.pitajob .imgsContainer {
  flex: 7;
}
.pitajob .textContainer {
  flex: 3;
}
.pitajob .textContainer dd {
  flex: 3;
}
.pitajob .pitajob_top {
  width: 70%;
  position: relative;
  margin-bottom: 1em;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease 0s 1 forwards;
  animation: fadeIn 0.5s ease 0s 1 forwards;
}
.pitajob .pitajob_chara {
  width: 25%;
  position: relative;
  top: 250px;
  left: 0px;
  z-index: 2;
}
.pitajob .pitajob_mail_pc {
  width: 20%;
  position: relative;
  margin-right: 0.5em;
  margin-bottom: 1em;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease 0s 1 forwards;
  animation: fadeIn 0.5s ease 0s 1 forwards;
}
.pitajob .pitajob_mail_pc::before {
  content: 'メルマガ PC';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: 0;
  left: 0;
}
.pitajob .pitajob_mail_sp {
  width: 8%;
  position: relative;
  margin-right: 3em;
  margin-bottom: 1em;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease 0s 1 forwards;
  animation: fadeIn 0.5s ease 0s 1 forwards;
}
.pitajob .pitajob_mail_sp::before {
  content: 'SP';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: 0;
  left: 0;
}
.pitajob .pitajob_mail_sp_2 {
  width: 32%;
  position: relative;
  margin-bottom: 1em;
  top: 19px;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease 0s 1 forwards;
  animation: fadeIn 0.5s ease 0s 1 forwards;
}
.pitajob .pitajob_mail_sp_2::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0px;
  width: 210px;
  height: 308px;
  overflow: hidden;
  border: solid 4px #ff00ff;
  z-index: 3;
}
.pitajob .pitajob_mail_sp_2::after {
  content: 'FirstView';
  font-size: 14px;
  color: #ff00ff;
  position: relative;
  top: -1320px;
  left: 0px;
  z-index: 2;
}
.pitajob .pitajob_1_pc {
  width: 30%;
  position: relative;
  margin-right: 0.5em;
  margin-bottom: 1em;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease 0s 1 forwards;
  animation: fadeIn 0.5s ease 0s 1 forwards;
}
.pitajob .pitajob_1_pc::before {
  content: 'お祝い金 PC';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -2px;
  left: 0;
}
.pitajob .pitajob_1_sp {
  width: 12%;
  position: relative;
  top: 30px;
  left: -20px;
  margin-bottom: 1em;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease 0s 1 forwards;
  animation: fadeIn 0.5s ease 0s 1 forwards;
}
.pitajob .pitajob_1_sp::before {
  content: 'スマホ';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: 0;
  left: 0;
}
.pitajob .pitajob_2_pc {
  width: 30%;
  position: relative;
  margin-right: 0.5em;
  margin-bottom: 1em;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease 0s 1 forwards;
  animation: fadeIn 0.5s ease 0s 1 forwards;
}
.pitajob .pitajob_2_pc::before {
  content: '選考の流れ PC';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: 0;
  left: 0;
}
.pitajob .pitajob_2_sp {
  width: 12%;
  position: relative;
  top: 30px;
  left: -20px;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease 0s 1 forwards;
  animation: fadeIn 0.5s ease 0s 1 forwards;
}
.pitajob .pitajob_2_sp::before {
  content: 'スマホ';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: 0;
  left: 0;
}

.smilezemi h1 {
  font-size: 48px;
}
.smilezemi .imgsContainer {
  flex: 4;
}
.smilezemi .imgsContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.smilezemi .textContainer {
  flex: 3;
}
.smilezemi .textContainer dl {
  padding-left: 2em;
}
.smilezemi .smilezemi_1 {
  width: 40%;
  position: relative;
  margin-right: 1em;
  margin-bottom: 1em;
  top: 8px;
}
.smilezemi .smilezemi_1::before {
  content: '日々のとりくみ';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -4px;
  left: 0;
}
.smilezemi .smilezemi_1::after {
  content: '※ Webから取得できたイメージを配置していますのでイメージ画面上の番号は関係ありません';
  white-space: nowrap;
  font-size: 11px;
  position: relative;
  top: 0;
  left: 0;
}
.smilezemi .smilezemi_2 {
  width: 40%;
  position: relative;
  margin-bottom: 1em;
}
.smilezemi .smilezemi_2::before {
  content: '学習のきろく';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -4px;
  left: 0;
}

.rc h1 {
  font-size: 48px;
}
.rc .imgsContainer {
  flex: 2;
}
.rc .imgsContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rc .textContainer {
  flex: 1;
}
.rc .rc1 {
  width: 30%;
  position: relative;
  margin-right: 1em;
  margin-bottom: 1em;
}
.rc .rc1::before {
  content: 'Ver13';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -2px;
  left: -40%;
}
.rc .rc2 {
  width: 30%;
  position: relative;
  margin-bottom: 1em;
}
.rc .rc2::before {
  content: 'Ver13.2';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -2px;
  left: -38%;
}
.rc .rc3 {
  width: 45%;
  position: relative;
  margin-right: 0.5em;
  margin-bottom: 1em;
}
.rc .rc3::before {
  content: 'VE（シンプルGUI）';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -2px;
  left: -30%;
}
.rc .rc3_2 {
  width: 45%;
  position: relative;
}
.rc .rc3_2::before {
  content: 'VE（標準GUI）';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: 0px;
  left: -34%;
}

.medical h1 {
  font-size: 48px;
}
.medical .wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.medical .imgsContainer {
  flex: 3;
}
.medical .imgsContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.medical .textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.medical .textContainer dl div {
  margin: 0.2em 20%;
}
.medical .textContainer dl div dd {
  flex: 4;
}
.medical .medical_1 {
  width: 65%;
  position: relative;
  margin-right: 1em;
}
.medical .medical_1::before {
  content: 'Before';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -2px;
  left: -47.5%;
}
.medical .medical_2 {
  width: 65%;
  position: relative;
  margin-right: 1em;
  margin-bottom: 1em;
}
.medical .medical_2::before {
  content: 'After';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -2px;
  left: -48%;
}

.traffic h1 {
  font-size: 48px;
}
.traffic .imgsContainer {
  flex: 7;
}
.traffic .imgsContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.traffic .textContainer {
  flex: 3;
}
.traffic .textContainer dd {
  flex: 4;
}
.traffic .traffic1_1 {
  width: 45%;
  position: relative;
  margin-right: 2em;
  margin-bottom: 1em;
}
.traffic .traffic1_1::before {
  content: '1.現場調査/ヒアリング';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: 13px;
  left: -33%;
}
.traffic .traffic1_2 {
  width: 45%;
  position: relative;
  margin-right: 2em;
}
.traffic .traffic1_2::before {
  content: '2.調査まとめ';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -5px;
  left: -40%;
}
.traffic .traffic2 {
  width: 30%;
  position: relative;
  margin-right: 2em;
}
.traffic .traffic2::before {
  content: '3.UI検討';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -5px;
  left: -42%;
}
.traffic .traffic3 {
  width: 30%;
  position: relative;
}
.traffic .traffic3::before {
  content: '4.UI提案';
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -5px;
  left: -42%;
}

@media screen and (max-width: 480px) {
  ul#menu {
    margin-left: 0px;
    padding-left: 10px;
  }

  div#fullpage.fullpage-wrapper {
    flex: 1;
    margin-left: 0px;
  }

  .side {
    display: none;
  }

  .wrap {
    width: 100%;
    padding: 2% 0;
    flex-direction: column;
  }

  .title p {
    font-size: 14px;
  }

  .product_text {
    margin: auto 1em 1em;
    text-align: left;
  }

  img {
    max-width: 100%;
  }

  .sprint .imgsContainer img {
    width: 50%;
  }

  .jms h1 {
    font-size: 38px;
    margin-bottom: 0;
  }
  .jms .product_text p {
    text-align: left;
  }
  .jms .imgsContainer {
    margin: 2em auto;
  }
  .jms .jms_pc {
    width: 60%;
  }
  .jms .jms_sp {
    position: absolute;
    top: 160px;
    left: 280px;
    z-index: 2;
    width: 16%;
  }
  .jms .textContainer dl {
    padding-left: 1em;
    padding-right: 1em;
  }

  #about .section {
    padding: 0 1em;
  }
  #about .bioTbl {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  #about .bioTbl div:nth-child(1) {
    width: 240px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  #about .bioTbl div:nth-child(2) {
    width: 200px;
  }
  #about .bioTbl div:nth-child(3) {
    flex: 2;
    text-align: right;
  }
  #about .bioTbl a {
    color: #333;
    text-decoration: underline;
  }
  #about .bioTbl + div {
    border-top: dashed 1px #ccc;
    border-bottom: solid 3px #ccc;
    padding: 0.4em;
    font-size: 12px;
  }
  #about .tool ul img {
    width: 60px;
    margin-right: 0.5em;
  }
}
/* Reset CSS
 * --------------------------------------- */
/* Custom CSS
 * --------------------------------------- */
/* Demos Menu
 * --------------------------------------- */
